
/* General Style */

main {
	margin: 1.5rem auto 0 auto;
	font-family: 'Roboto';
}

 /* Header Components Style */

.title {
	font-size: 72px;
	text-align: center;
	line-height: 1.6;
	font-weight: 300;
	letter-spacing: 0.6rem;
	background-color: white;
	color: #799BD2;
	border-radius: 1rem 0;
	margin: unset;
}

.bar {
	background-color: #799BD2;
	color: #fff;
	display: flex;
	justify-content: flex-start;
	text-align: center;
	font-size: 1rem;
	border-radius: 1rem;
	height: 2rem;
	line-height: 30px;
	text-decoration: uppercase;
	letter-spacing: 0.6rem;
}

.sortTitle, .countTitle {
	letter-spacing: 0;
	padding: 0 1rem;
}

.sortIcons {
	cursor: pointer;
	letter-spacing: 0;
	padding: 0 1rem;
}

/* Boody Components Style */

.addEvent {
	color: gray;
	outline: 1px dashed gray;
	height: 6rem;
	display: flex;
	margin-top: 1rem;
	cursor: pointer
}

.body {
	display: flex;
	flex-direction: column;
}

.body article:last-child {
	margin-bottom: 1rem
}

.input {
	font-size: .9rem;
}

.removeEvent {
	margin-left: auto;
	padding: 0 1.5rem;
	cursor: pointer
}

.article {
	background-color: rgb(224, 233, 255);
	border-radius: 1rem;
	color: #799BD2;
	height: 6rem;
	display: flex;
	flex-direction: rows;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1rem;
	-webkit-animation: sliteIn 0.45s ease-out both;
	animation: sliteIn 0.45s ease-out both;
}

@-webkit-keyframes sliteIn {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
            transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
            transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
            transform: translateZ(0) rotateX(0);
  }
}

@keyframes sliteIn {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
            transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
            transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
            transform: translateZ(0) rotateX(0);
  }
}

/* Footer Components Style */
